
* {
    padding: 1px;
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    /* Agregar transición para la propiedad opacity */
    transition: opacity .5s ease-in-out;
}

#backToTopBtn:hover {
    background-color: darkgreen;
}

#backToTopBtn:before {
    content: "\2191";
    font-size: 40px;
    font-weight: bolder;
}


/* Agregar clase para ocultar el botón */
.hide {
    opacity: 0;
}

h1 {
    text-align: center
}

/* Estilos para el botón de alternar el tema oscuro */
#darkModeToggle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 40%;
    position: fixed;
}

#darkModeToggle:hover {
    background-color: #333;
}

/* Estilos para el tema oscuro */
body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode header {
    background-color: #333;
}

/* Estilos para el contenido de la página*/
#text1 {
    text-align: center;
    font-family: Comic Sans MS, cursive, sans-serif;

}

.cuadro {
    border: 1px solid black;
    padding: 10px;
}

.cuadro h1 {
    margin: 0;
}

body {
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.dark-mode {
    background-color: black;
    color: white;
}